/*.card-container {*/
/*    height: 300px;*/
/*    width: 200px;*/
/*    border: grey 2px solid;*/
/*    display: inline-block;*/
/*    margin-left :20px;*/
/*    margin-top: 20px;*/
/*}*/
/*.id-container {*/
/*    height: 180px;*/
/*    width: 180px;*/
/*    border: black 1px solid;*/
/*    border-radius: 50%;*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/

/*.club-id {*/
/*    line-height: 120px;*/
/*    font-size: 2rem;*/
/*}*/
/*.owner-container {*/
/*    text-align: center;*/
/*    word-wrap:break-word;*/
/*    word-break:break-all;*/
/*    overflow: hidden;!*这个参数根据需要来绝对要不要*!*/
/*}*/

.button-container {

}
/*.button {*/
/*    margin: 20px 50px;*/
/*}*/