.all-clubs-header, .match-header {
    text-align: center;
}

.player {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    margin: 1rem;
}

.team-one {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 42%;
}

.match-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.team-two {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 42%;
}

.player-list-container {
    width: 80%;
}

.player-list {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-font {
    font-family: navbar-font;
}

.background-height {
    height: 20rem;
}

.score-container {
    width: 100%;
    background-color: rgba(20, 25, 37, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
