@font-face {
    font-family: 'sport-font';
    src: url("../../images/Spantaran-GE2D.ttf");
}

@font-face {
    font-family: 'navbar-font';
    src: url("../../images/RussoOne-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
 }


.home-background:after {
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(3px);
    z-index: 2;
}

.button-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.primary-button {

}

.primary-button {
    background-color:#86B3BE;
    border-radius:3px;
    border:1px solid #86B3BE;
    display:inline-block;
    cursor:pointer;
    color:#161925;
    font-size:2rem;
    padding:14px 23px;
    text-decoration:none;
}
.primary-button:hover {
    background: #161925;
    background-color:#406E8E;
}
.primary-button:active {
    position:relative;
    top:1px;
}



.banners{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sport-font;
    /*left:50%;*/
    top:30%;
    /*transform: translate(-50%,-50%);*/
    /*text-align: center;*/
    z-index:11;
}

.home-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
            rgba(20, 25, 37, 0.7),
            rgba(20, 25, 37, 0.7)
    ), url("../../images/home-backgound.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.welcome-banner {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    color: #161925;
    text-shadow: -5px 5px 0 #ffffff, 5px 5px 0 #ffffff,5px -5px 0 #ffffff,-5px -5px 0 #ffffff;

}

.own-club-banner {
    text-align: center;
    font-size: 3rem;
    color: #161925;
    text-shadow: -3px 3px 0 #ffffff, 3px 3px 0 #ffffff,3px -3px 0 #ffffff,-3px -3px 0 #ffffff;
}