
.club-card {
    /*height: 350px;*/
    background-color: transparent;
    border: none;
}

.club-card:hover {
    color: #86B3BE;

}
.club-img-in-card {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    background-color: rgba(64, 110, 142, 0.5);
    border-radius: 10px;
}

.club-img-in-card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease 0s;
    /*-webkit-transform: scale(1.05);*/
    /*-webkit-transform: all 0s ease 0s;*/
}


.club-info-ownership {
    border-top: 2px dotted #406E8E ;
    padding-top: 5px;
}

.card-body{
    margin-top: 0.5rem;
    padding: 0;
}

.club-if-owned {
    width: 40%;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;

}