.club-graphics-container {
    width: 100%;
    height: 50%;
    left: 0;
    background-position: 0px -250px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-image:  url("../../../images/stadium.jpg");
}

.container-fluid {
    padding: 0;
}

.club-logo-container {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 25, 37, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-logo {
    display: inline-block;
    width: 20%;
    height: 100%;
}
.star-rating {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #86B3BE;
}

.club-name-container {
    margin-top: 2rem;
    background-color: transparent;
}
.club-name-in-detail {
    color: #406E8E;
    font-size: 3rem ;
    font-family: navbar-font;
}

.owner {
    color: #406E8E;

    width: 10%;
}

.owner-avatar {
    font-size: 2rem;
    color: #406E8E;
    margin: 0.5rem 1rem 0 0;
}

/* .owner-name {
  display:flex;
	justify-content:center;
	align-items:center;
} */

.owner-name p {
    margin: 0
}

.owner-text {
    font-size: 1.2rem;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.owner-small-text {
    color: #DCDCDC;
    font-size: 0.8rem;
}



.club-details {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    color: #406E8E;

}

.detail-item {
    width: 100%;
    height: 4rem;
    background-color: transparent;
    display: flex;
}

.detail-item:not(:last-child) {
    border-right: #406E8E dotted 2px;
}

.detail-description {
    font-size: 1.2rem;
    font-weight: bold;
}


.detail-icon-container{
    margin-top: -0.3rem;
    margin-left: 1rem;
    width: 40%;
    font-size: 3rem;
}

.detail-value-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;;
    width: 60%;
}

.transaction-description {
    margin-top: 0.3rem;
    color: #406E8E;
}

.transaction-container {
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-top: #406E8E solid 1px;
    border-bottom: #406E8E solid 1px;

}
.btn {
    height: 2.5rem !important;
    font-family: navbar-font;
}

.btn-primary {
    background-color: #86B3BE;
}

.player-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.player-container-title {
    color: #406E8E;
    font-family: navbar-font;
}

.player-list {
    display: grid;
    background-color: transparent;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.player-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.player-name-in-card {
    color: #406E8E;
}

.no-player {
    color: #406E8E;
}

.transaction-container-owner {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-top: #406E8E solid 1px;
    border-bottom: #406E8E solid 1px;
}

.academy-page {
    background-color: #161925;
    height: 1000px;
}

.club-player-page {
    background-color: #161925;
    height: 1000px;

}
