
.all-clubs-header {
    text-align: center;
    font-family: navbar-font;
    color: #DCDCDC;
}

.allClub-background {
    width: 100%;
    position: absolute;
    background-color: #161925;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}