.my-club-page {
    background-color: #161925;
    height: 1000px;
}
.withdraw-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-top: #406E8E solid 1px;
    border-bottom: #406E8E solid 1px;
}


.withdraw-description {
    margin-top: 0.3rem;
    color: #406E8E;
}