body {
    background-color: #161925 !important;
}

.navbar {
    height: 4rem !important;
}

.nav-item {
    margin-left: 2rem;
}

a {
    color: #FFF;
}

a:hover {
    color: #161925;
}

.activeButton {
    color: #161925;
    text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;

}

.navbar-selection {
    text-decoration: none;
    color: #161925 !important;
    font-size: 1.2rem;
    font-family: navbar-font;
}

.logo {
    color: #161925;
    font-size: 2.5rem;
    font-family: sport-font;
    text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;
}

.bg-primary {
    background-color: #161925 !important;
}

.bg-secondary {
    background-color: #406E8E !important;
}

.bg-tertiary {
    background-color: #86B3BE !important;
}

.text-primary {
    color: #DCDCDC !important;
}

.text-secondary {
    color: #406E8E !important;
}

.text-tertiary {
    color: #86B3BE !important;
}
